#title {
    background-color: red;
    color: white;
    border: 5px solid blue;
    margin: 50px;
    font-family: "Bungee", cursive;
}
body {
    text-align: center;
}
.button{
    margin: 50px;
}
footer{
    margin: 50px;
}